/* Dashboard.css */

.dashboard {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 250px;
  background-color: #2c3e50;
  color: #ecf0f1;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.sidebar ul li button {
  background: none;
  border: none;
  color: #ecf0f1;
  font-size: 18px;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.sidebar ul li button:hover {
  text-decoration: underline;
}

.submenu {
  font-size: 15px;
  padding-left: 20px;
  margin-top: 10px;
}

.submenu li {
  margin-bottom: 5px;
}

.submenu li a {
  color: #bdc3c7;
  text-decoration: none;
  font-size: 16px;
}

.submenu li a:hover {
  text-decoration: underline;
}

.button {
  background-color: #007bff; /* Cor de fundo */
  color: white; /* Cor do texto */
  border: none;
  padding: 8px 16px; /* Espaçamento interno */
  margin: 4px 0; /* Espaçamento externo */
  border-radius: 4px; /* Bordas arredondadas */
  cursor: pointer; /* Muda o cursor para indicar que é clicável */
  text-align: center; /* Centraliza o texto */
  font-size: 14px; /* Tamanho da fonte */
  transition: background-color 0.3s ease; /* Transição suave para a cor de fundo */
}

.button:hover {
  background-color: #0056b3; /* Cor de fundo ao passar o mouse */
}

.submenu-button {
  background-color: #007bff; /* Cor de fundo igual aos outros botões */
  color: white; /* Cor do texto */
  border: none;
  padding: 8px 16px; /* Espaçamento interno */
  margin: 4px 0; /* Espaçamento externo */
  border-radius: 4px; /* Bordas arredondadas */
  cursor: pointer; /* Muda o cursor para indicar que é clicável */
  text-align: center; /* Centraliza o texto */
  font-size: 9px; /* Tamanho da fonte igual aos outros botões */
  transition: background-color 0.3s ease; /* Transição suave para a cor de fundo */
}

.submenu-button:hover {
  background-color: #0056b3; /* Cor de fundo ao passar o mouse */
}

.main-content {
  flex: 1;
  padding: 20px;
  background-color: #ecf0f1;
}


header {
  display: flex;
  justify-content: flex-end; /* Ajusta o conteúdo para a direita */
  align-items: center;
  margin-bottom: 20px;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info span {
  margin-right: 15px;
  font-size: 18px;
}

.logout-btn {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.logout-btn:hover {
  background-color: #c0392b;
}

.cards {
  display: flex;
  gap: 20px;
}

.card {
  flex: 1;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card h3 {
  margin-top: 0;
}

.card p {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}
